p,
ul,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.section {
  width: 949px;
  margin: auto;
  margin-bottom: 20px;
}

.section:last-child {
  margin-bottom: 0;
}

.header {
  background-color: #4496d2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.head-section {
  width: 949px;
  margin: auto;
}

.header-inner-container {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header-h1 {
  text-align: center;
  font-family: "Open Sans", Tahoma, serif;
  font-weight: 600;
  line-height: normal;
  color: #5d6f8d;
  font-size: 42px;
}

.header-h2 {
  text-align: center;
  font-family: "Open Sans", Tahoma, serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 22px;
  margin-top: 15px;
}

.header-h2 a {
  color: #00adee;
}

.header-h2 a:hover {
  color: black;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-ul {
  background-color: aliceblue;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.head-item {
  padding-inline: 10px;
  padding-block: 20px;
  border: 3px solid aliceblue;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.head-item:hover {
  border-top: solid #76c1f7;
  color: #76c1f7;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-item a {
  box-sizing: border-box;
  color: #6f6b6b;
}

.head-item a:hover {
  color: #76c1f7;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-item:hover .submenu {
  display: block;
  transition: translateY(100%) 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-item-submenu {
  display: none;
  border-left: #76c1f7;
}

.submenu {
  width: 400px;
  display: none;
  position: absolute;
  background-color: whitesmoke;
  border-radius: 3px;
  border-left: 3px solid #76c1f7;
  transform: translateY(0%);
  transition: all 0.25s ease;
  top: 100;
  left: 0;
  z-index: 10;
}

.submenu-item {
  color: #6f6b6b;
  padding: 10px 15px;
}

.submenu-item:hover {
  color: #76c1f7;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.history-container {
  position: relative;
  overflow: hidden;
}

.history-image {
  background-image: url(../images/2.jpg);
  width: 100%;
  height: 542px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.history-image:hover {
  background-image: linear-gradient(to top, rgba(163, 164, 175, 0.4), rgba(163, 164, 175, 0.4)), url(../images/2.jpg);
  transition: opacity 0.3s ease-in-out;
}

.history-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #233340;
  color: white;
  padding: 5px 15px;
  font: normal 20px "Open Sans", Arial, Tahoma, sans-serif;
}

.important-info-tab {
  font-size: 14px;
  font-weight: bold;
  color: #4496d2;
  cursor: default;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.important-info-tab:hover {
  color: #878787;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.generic-item {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.generic-item:hover {
  background-color: #4496d2;
  color: white;
}

.generic-list-link {
  padding: 15px 10px;
  display: block;
  color: #5D6F8D;
  width: 100%;
  height: 100%;
}

.generic-list-link:hover {
  color: white;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.generic-span {
  font-family: "Open Sans", Tahoma, serif;
  font-weight: 600;
  font-size: 18px;
  padding: 0 0 0 40px;
  color: #464242;
  text-shadow: 0 0 10px #FFFFFF, 0 0 10px #FFFFFF, 0 0 10px #FFFFFF, 0 0 10px #FFFFFF;
}

.generic-h3 {
  font-family: "Open Sans", Tahoma, serif;
  font-weight: 600;
  font-size: 20px;
  padding: 0 0 0 40px;
  color: #464242;
  text-shadow: 0 0 10px #FFFFFF, 0 0 10px #FFFFFF, 0 0 10px #FFFFFF, 0 0 10px #FFFFFF;
}

.generic-big-tab-text {
  margin-block: 20px;
  font-family: cambria, serif;
  line-height: 14px;
  font-size: 24px;
  font-weight: bold;
  color: #5D6F8D;
  cursor: default;
  padding-block: 20px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.generic-big-tab-text:hover {
  color: #4496d2;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.generic-tab-text {
  padding-block: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #878787;
  cursor: default;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.generic-tab-text:hover {
  color: #4496d2;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-h3 {
  margin-block: 25px;
  margin-inline: auto;
  width: 600px;
  font-family: cambria, serif;
  text-indent: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}

.about-span {
  font-family: sans-serif;
  text-indent: 40px;
  text-align: justify;
  line-height: 22px;
  font-weight: 900;
}

.about-item {
  font-family: sans-serif;
  margin-block: 15px;
  margin-inline: 15px;
  text-align: justify;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.map-div {
  display: flex;
  flex-direction: column;
}

.contact-ul {
  margin-bottom: 15px;
}

.contact-h4 {
  margin-bottom: 10px;
}

.contacts-div {
  margin-right: 25px;
}

.contact-text {
  font: normal 13px/22px "Open Sans", Arial, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: black;
  margin-top: 15px;
}

.contact-form-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 15px;
}

.contact-form-span {
  font: normal 13px/22px "Open Sans", Arial, Tahoma, sans-serif;
}

.contact-form-input {
  width: 230px;
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #7e7e7e;
  margin: 5px 0 0;
  max-width: 100%;
}

.last {
  height: 200px;
}

.contact-form-input:focus {
  border: 1px solid #00adee;
  outline: 0;
}

.send-button {
  width: 95px !important;
  margin: 0;
  height: 35px;
  line-height: 35px !important;
  border: none;
  color: #fff;
  border-radius: 4px;
  background: #8cbb41;
}

.send-button:hover {
  opacity: 0.8;
}

.footer {
  margin-top: 15px;
  background-image: linear-gradient(rgb(52, 57, 60) 0%, rgb(52, 57, 60) 50%, rgb(38, 42, 45) 50%, rgb(38, 42, 45) 100%);
}

.footer-section {
  height: 180px;
  background-color: #43494c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px 10px 20px;
  color: white;
  font: normal 13px/22px "Open Sans", Arial, Tahoma, sans-serif;
}

.footer-media-list {
  display: flex;
}

.footer-media-item:first-child {
  margin-right: 10px;
}

.footer-icon {
  fill: white;
}

.footer-icon:hover {
  fill: #4496d2;
}/*# sourceMappingURL=main.css.map */