.footer{
    margin-top: 15px;
    background-image: linear-gradient(rgba(52,57,60,1) 0%, rgba(52,57,60,1) 50%,rgba(38,42,45,1) 50%, rgba(38,42,45,1) 100%,);
}
.footer-section{
    height: 180px;
    background-color: #43494c;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 20px 20px 10px 20px;
    color: white;
    font: normal 13px/22px "Open Sans", Arial, Tahoma, sans-serif;
}
.footer-media-list{
    display: flex;
}
.footer-media-item:first-child{
    margin-right: 10px;
}
.footer-icon{
    fill: white;
}
.footer-icon:hover{
    fill:#4496d2
}