.generic-item{
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}
.generic-item:hover{
    background-color: #4496d2;
    color: white;
}
.generic-list-link{
    padding: 15px 10px;
    display: block;
    color: #5D6F8D;
    width: 100%;
    height: 100%;
}
.generic-list-link:hover{
    color: white;
    transition: $animation;
}