.header{
    background-color: #4496d2;
    display: flex;
    justify-content: center;
}

.header-inner-container{
    background-color: aliceblue;
    display: flex;
    font-weight: 600;
    font-size: 22px;
}
.head-ul{
    background-color: aliceblue;

    display: flex;
    justify-content: center;
    font-size: 13px;
}
.head-item{
    padding-inline: 10px;
    padding-block: 20px;
}
.head-item:hover{
    background-color: #4496d2;
    
}