p,
ul,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body{
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
.section{
    width: 949px;
    margin: auto;
    margin-bottom: 20px;
}
.section:first-child{
  margin-bottom: 0;
}
.section:last-child{
  margin-bottom: 0;
}

$animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);